body {
  margin: 0;
  padding: 0;
  background-color: #36393F;
  font-family: 'Helvetica Neue', sans-serif;
}

.todo-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.todo-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #202225;
  border-radius: 5px;
}

.todo-header {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-weight: 700;
}

.todo-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-input {
  flex: 1;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #36393F;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.todo-button {
  padding: 10px 20px;
  background-color: #7289DA;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.todo-button:hover {
  transform: scale(1.05);
}

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todo-checkbox {
  margin-right: 10px;
}

.todo-task {
  flex: 1;
  font-size: 1.2rem;
  color: #FFFFFF;
}

.completed {
  text-decoration: line-through;
  color: #8E9297;
}

.todo-delete {
  padding: 8px;
  background-color: #F04747;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}

.todo-delete:hover {
  transform: scale(1.05);
}


.todo-save {
  padding: 5px 5px;
  background-color: #28a745;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.todo-edit {
  flex: 1;
  padding: 5px;
  font-size: 1rem;
  background-color: #36393F;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
}

.edit-btn {
  padding: 8px;
  background-color: #ffd700;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}